language: php
php:
  - 5.6
  - 7.1
before_script:
- composer self-update
- composer install --no-interaction
notifications:
  email: false
script:
./vendor/bin/phpunit --coverage-clover=coverage.xml
after_success:
- bash <(curl -s https://codecov.io/bash)
